.movies-card-list {
  width: 100%;
  max-width: 1280px;
  padding: 70px 70px 0 70px;
  margin: 0 auto;
  box-sizing: border-box;
  background-color: rgba(32, 32, 32, 1);
}

.movies-card-list__movies {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  box-sizing: border-box;
  background-color: rgba(32, 32, 32, 1);
  display: grid;
  grid-template-rows:  repeat(4, 1fr);
  grid-template-columns: repeat(4, 1fr);
  column-gap: 20px;
  row-gap: 38px;
}

.movies-card-list__more {
  width: 100%;
  max-width: 1280px;
  max-height: 166px;
  background-color: rgba(32, 32, 32, 1);
  padding: 0;
  margin: 0 auto;
  display: flex;
} 

.movies-card-list__more_button {
  background-color: rgba(47, 47, 47, 1);
  color: rgba(255, 255, 255, 1);
  width: 320px;
  height: 36px;
  border-radius: 6px;
  font-size: 12px;
  font-weight: 500;
  line-height: 14.52px;
  margin: 60px auto 80px auto;
  border: 0;
}

@media screen and (max-width: 1236px) {
  .movies-card-list__movies {
    max-width: 850px;
    grid-template-rows:  repeat(4, 1fr);
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width: 970px) {
  .movies-card-list {
    max-width: 708px;
    padding: 70px 0 0 0;
  }

  .movies-card-list__movies {
    max-width: 708px;
    grid-template-rows:  repeat(4, 1fr);
    grid-template-columns: repeat(2, 1fr);
    column-gap: 30px;
    row-gap: 30px;
  }
}

@media screen and (max-width: 768px) {
  .movies-card-list {
    max-width: 768px;
    padding: 70px 10px 0 10px;
  }

  .movies-card-list__more {
    max-height: 300px;
  }

  .movies-card-list__more_button {
    margin-bottom: 101px;
  }
}

@media screen and (max-width: 728px) {
  .movies-card-list__more_button {
    width: 240px;
    height: 36px;
  }

  .movies-card-list__movies {
    max-width: 320px;
    grid-template-rows:  repeat(5, 1fr);
    grid-template-columns: repeat(1, 1fr);
    column-gap: 0;
    row-gap: 34px;
  }
}

@media screen and (max-width: 425px) {
  .movies-card-list {
    max-width: 425px;
    padding: 39px 10px 0 10px;
  }

  .movies-card-list__more {
    max-height: 260px;
  } 
  .movies-card-list__more_button {
    width: 240px;
    height: 36px;
    margin-bottom: 80px;
  }

  .movies-card-list__movies {
    max-width: 320px;
    grid-template-rows:  repeat(5, 1fr);
    grid-template-columns: repeat(1, 1fr);
    column-gap: 0;
    row-gap: 33px;
  }
}