.portfolio {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 70px 98px 70px;
  background-color: rgba(32, 32, 32, 1);
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
}

.portfolio__title {
  max-width: 250px;
  max-height: 20px;
  color: rgba(139, 139, 139, 1);
  font-size: 18px;
  font-weight: 400;
  line-height: 20px;
}

.portfolio__links {
  max-width: 1140px;
  list-style-type: none;
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
  padding: 0;
  margin: 0;
}

.portfolio__link {
  max-width: 1140px;
  border-bottom: 1px solid rgba(230, 230, 230, 1);
  display: flex;
  box-sizing: border-box;
  flex-direction: row;
  justify-content: space-between;
  padding-bottom: 17px;
  margin: 0;
}

.portfolio__link:nth-child(4) {
  border-bottom: none;
}

.portfolio__link_text {
  max-width: 880px;
  color: rgba(255, 255, 255, 1);
  font-size: 30px;
  font-weight: 400;
  line-height: 50px;
  letter-spacing: -1.2px;
  margin-bottom: 0;
  margin-top: 20px;
}

.portfolio__link_arrow {
  width: 20px;
  height: 40px;
  color: rgba(255, 255, 255, 1);
  font-size: 30px;
  font-weight: 400;
  line-height: 60px;
  margin-top: 28px;
  padding-right: 5px;
  
}

@media screen and (max-width: 768px) {
  .portfolio  {
    max-width: 768px;
    padding: 0 50px 90px 50px;
  }

  .portfolio__links {
    max-width: 668px;
  }

  .portfolio__link {
    max-width: 668px;
  }

  .portfolio__link_text {
    max-width: 668px;
    max-height: 50px;
    font-size: 28px;
  }
  
  .portfolio__link_arrow {
    width: 20px;
    font-size: 27px;
    line-height: 60px;
  }
}

@media screen and (max-width: 540px) {
  .portfolio__link_text {
    width: 268px;
    height: 28px;
    font-size: 18px;
    letter-spacing: -0.72px;
  }

  .portfolio__link_arrow {
    width: 18px;
    height: 28px;
    font-size: 18px;
    line-height: 28px;
  }
}

@media screen and (max-width: 425px) {
  .portfolio  {
    max-width: 425px;
    padding: 0 14px 52px 6px;
  }

  .portfolio__links {
    max-width: 292px;
    align-self: center;
  }

  .portfolio__link {
    max-width: 292px;
    padding-bottom: 19px;
    margin-top: 0;
  }

  .portfolio__link:nth-child(3) {
    margin-top: -10px;
  }

  .portfolio__link:nth-child(4) {
    margin-top: -10px;
  }

  .portfolio__title {
    max-width: 292px;
    max-height: 20px;
    font-size: 14px;
    margin-bottom: 10px;
  }

  .portfolio__link_arrow {
    width: 11px;
    height: 22px;
    padding-top: 4px;
    padding-right: 0;
  }
}