.promo {
  width: 100%;
  max-width: 1280px;
  min-height: 560px;
  margin: 0 auto;
  box-sizing: border-box;
  background-color: rgba(7, 48, 66, 1);
  display: flex;
  flex-direction: column;
  padding: 50px auto 60px auto;
  overflow-y: auto;
  overflow-x: hidden;
}

.promo__title {
  line-height: 52px;
  color: rgba(255, 255, 255, 1);
  font-size: 40px;
  font-weight: 400;
  padding: 0;
  max-width: 626px;
  max-height: 104px;
  letter-spacing: -1.6px;
  margin: auto auto 0 70px;
}

.promo__logo {
  max-height: 244px;
  max-width: 722px;
  max-width: 100%;
  margin: 102px 70px 60px auto;
  color: rgba(255, 255, 255, 1);
  opacity: 0.7;
}

@media screen and (max-width: 810px) {
  .promo {
    min-height: 844px;
    padding: 0;
  }

  .promo__title {
    max-width: 680px;
    margin: 300px auto 0 auto;
    text-align: center;
  }

  .promo__logo {
    max-height: 230px;
    max-width: 680px;
    margin: 140px auto 70px auto;
    align-self: center;
  }
}

@media screen and (max-width: 520px) {
  .promo {
    min-height: 630px;
  }

  .promo__title {
    max-width: 300px;
    max-height: 117px;
    margin: 183px auto 0 auto;
    line-height: 39px;
    font-size: 31px;
    padding: 0 10px;;
  }

  .promo__logo {
    max-height: 230px;
    margin: 60px 0 40px 0;
    object-fit: cover;
    overflow: hidden;
  }
}