.page {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
  font-family: 'Inter', 'Helvetica Neue', Arial, sans-serif;
  font-style: normal;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0 auto;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: rgba(32, 32, 32, 1);
  background-size: 100%;
  input {
    &:-webkit-autofill {
      &, &:hover, &:focus {
        -webkit-text-fill-color: rgba(255, 255, 255, 1);
        -webkit-box-shadow: 0 0 0px 1000px rgba(32, 32, 32, 1) inset;
        box-shadow: 0 0 0px 1000px rgba(32, 32, 32, 1) inset;
      }
    }
  }
}

.page_no-scroll {
  overflow: hidden;
}