.filter-checkbox {
  width: 100%;
  max-height: 222px;
  max-width: 226px;
  display: flex;
  justify-content: center;
  position: relative;
  margin-top: 27px;
  cursor: pointer;
}

.filter-checkbox__switch {
  display: flex;
  align-items: center;
  margin: 0 auto;
  flex-direction: row;
  position: relative;
  height: 20px;
  padding: 0;
  cursor: pointer;
}

.filter-checkbox__button {
  opacity: 0;
  height: 0;
  width: 36px;
  margin-left: 19px;
  margin-right: 0;
  padding: 0;
}

.filter-checkbox__button:focus {
  outline: none;
}

/*весь checkbox*/
.filter-checkbox__slider {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: #343434;
  border-radius: 16px;
  width: 36px;
  margin-left: 19px;
}

/*кружочек*/
.filter-checkbox__slider::before {
  content: '';
  position: absolute;
  left: 2px;
  bottom: 2px;
  width: 16px;
  height: 16px;
  background-color: #A0A0A0;
  box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.08);
  border-radius: 16px;
  border: 1px solid rgba(218, 218, 218, 1);
}

.filter-checkbox__button:checked + .filter-checkbox__slider::before {
  background-color: #2BE080;
  transform: translatex(16px);
}

.filter-checkbox__type {
  max-width: 117px;
  max-height: 18px;
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
  color: rgba(255, 255, 255, 1);
  margin-right: 30px;
  margin-left: 14px;
  align-self: center;
}

@media screen and (max-width: 768px) {
  .filter-checkbox  {
    max-width: 207px;
  }

  .filter-checkbox__button {
    margin-left: 19px;
  }

  .filter-checkbox__type {
    margin-right: 20px;
    margin-left: 15px;
  }
}

@media screen and (max-width: 525px) {
  .filter-checkbox  {
    min-height: 261px;
    position: absolute;
    bottom: -305px;
    padding-left: 120px;
  }
}

@media screen and (max-width: 425px) {
  .filter-checkbox {
    padding-left: 40px;
  }

  .filter-checkbox__slider{
    margin-left: 0;
  }
  
  .filter-checkbox__button {
    margin-left: auto;
  }

  .filter-checkbox__type {
    max-width: 99px;
    font-size: 11px;
  }
}